name: React Deploy

on:
  push:
    branches:
    - main
    - release/*

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install Dependencies
      run: sudo apt update && sudo apt install npm && npm install
    - name: Deploy project
      run: npm run deploy

